p {
  color: #b3b3b3;
  font-size: 18px;
}
.entry-title {
  font-size: 16px;
  line-height: 149%;
  font-weight: 400;
  word-break: break-word;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 32px;
  text-transform: uppercase;
}
.title-description-up {
  font-size: 16px;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.medium-text {
  color: #000;
  font-size: 60px;
  line-height: 120%;
  font-weight: 700;
  padding-bottom: 35px;
}
@media (max-width: 769px) {
  .medium-text {
    font-size: 40px;
    line-height: 105%;
    padding-top: 10px;
  }
  .skill-percent {
    font-size: 40px;
  }
  .footer-mail {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .footer-mail {
    font-size: 20px;
  }
}
