/* Css header */

header {
  z-index: 99 !important;
  background-color: #060606;
  width: 100% !important;
  top: 0;
  position: fixed;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1450px;
  min-height: 95px;
  margin: auto;
}

.header_logo {
  width: 88px;
  height: 50px;
}
.navbar {
  background-color: #000;
}
.nav-item {
  margin: 0px 15px;
  a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
}
.navbar-toggler {
  i {
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .banner_image_header {
    background-position: center;
  }
  header {
    height: 80px;
  }
  .header_icon {
    margin-right: 23px;
  }

  .nav-item {
    margin: 15px;
  }
  .navbar-collapse {
    margin-top: 30px;
  }
  .scroll-slow p {
    white-space: nowrap !important;
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: #fff;
    height: 20px;
    text-align: center;
    animation: scroll-slow 30s linear infinite;
    right: -100%;
  }
}
/* Browser bug fix */

@keyframes scroll-slow {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
