/* Css header */

header {
  z-index: 99 !important;
  background-color: #060606;
  width: 100% !important;
  top: 0;
  position: fixed;
  -webkit-transform: translateZ(0);
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1450px;
  min-height: 77px;
  margin: auto;
}

.header_logo {
  width: 88px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .banner_image_header {
    background-position: center;
  }
  header {
    height: 80px;
  }
  .header_icon {
    margin-right: 23px;
  }
}
