@media (max-width: 1199.98px) {
  .content-1170 {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 769px) {
  .about__image {
    width: 93%;
  }
  .carousel-item {
    background-color: #000;
    padding: 10%;
  }
  .text-slider p {
    font-size: 20px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    right: 0 !important;
  }
  .blog-item-holder-scode {
    .entry-title {
      font-size: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      min-height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .card {
    height: 400px;
  }
  .member {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-bottom: 100px;
  }
  .member-info {
    margin: auto;
    margin-top: -50;
  }
  .member-social-holder {
    left: 45px;
  }
  .member-right {
    .member-info {
      margin: auto;
      margin-bottom: -50px;
    }
    .member-social-holder {
      right: 45px;
    }
  }
}
@media (max-width: 575.98px) {
  .info-slider {
    display: block;
  }
  .member {
    img {
      width: 100%;
      height: 500px;
    }
  }
  .member-info {
    width: 100%;
    height: 100%;
  }
  .member-right {
    .member {
      img {
        width: 100%;
        height: 500px;
      }
    }
    .member-info {
      width: 100%;
      height: 100%;
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .info-slider {
    display: block;
  }
  .blog-item-holder-scode {
    width: 55%;
    margin: auto;
  }
}
