@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
@import "buttons";
@import "custom";
@import "footer";
@import "header";
@import "topnav";
@import "font";
@import "slider";
@import "image";
@import "responsive";
