<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
    <title>About</title>
</head>

<body>
    <div id="about" class="position-relative">
        <div class="page-title-holder">
            <h3 class="entry-title">
                about
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="row mx-n1">
                <div class="col-6 px-1">
                    <p class="title-description-up">
                        who we are
                    </p>
                    <h2 class="medium-text">
                        Live up to <br>
                        your creative potential.
                    </h2>
                    <p>Code the energy hidden in matter citizens of distant epochs from which we spring drake
                        equation perga inconspicuous
                        motespatch clean designed code and energy matter.
                    </p>
                    <br>
                    <div>
                        <a href="#" class="btn-blue">LEARN MORE</a>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end px-1">
                    <div class="about__image"><img src="./images/about_01.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>