<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
    <title>Milestones</title>
</head>

<body>
    <div id="milestones" class="position-relative" data-aos="fade-up">
        <div class="page-title-holder">
            <h3 class="entry-title">
                Milestones
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="row mx-n1 milestones-holder">
                <div class="col-6 px-1 milestone" data-aos="flip-up" data-aos-delay="100">
                    <div class="milestone-info-left">
                        135
                    </div>
                    <div class="milestone-info-right">
                        <h5>Terabytes of files uploaded</h5>
                        <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                            wants the quiver.</p>
                    </div>
                </div>
                <div class="col-6 px-1 milestone" data-aos="flip-up" data-aos-delay="300">
                    <div class="milestone-info-left">
                        67K
                    </div>
                    <div class="milestone-info-right">
                        <h5>Lines of CSS code wrote</h5>
                        <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                            wants the quiver.</p>
                    </div>
                </div>
                <div class="col-6 px-1 milestone" data-aos="flip-up" data-aos-delay="600">
                    <div class="milestone-info-left">
                        74

                    </div>
                    <div class="milestone-info-right">
                        <h5>Cups of coffee drinked per week</h5>
                        <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                            wants the quiver.</p>
                    </div>
                </div>
                <div class="col-6 px-1 milestone" data-aos="flip-up" data-aos-delay="900">
                    <div class="milestone-info-left">
                        389
                    </div>
                    <div class="milestone-info-right">
                        <h5>Happy clients served this year</h5>
                        <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                            wants the quiver.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>