<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../scss/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Milestones</title>
</head>

<body>
    <div id="milestones" class="position-relative" data-aos="fade-up">
        <div class="page-title-holder">
            <h3 class="entry-title">
                Milestones
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="row mx-n4 milestones-holder">
                <div class="col-12 col-lg-6 px-4 milestone" data-aos="flip-up" data-aos-delay="100">
                    <div class="row mx-n1">
                        <div class="col-12 col-md-5 text-center text-lg-left px-1 milestone-info-left">
                            135
                        </div>
                        <div class="col-12 col-md-7 text-center text-md-left px-1 milestone-info-right">
                            <h5 class="mx-auto mx-md-0 py-3 py-md-0">Terabytes of files uploaded</h5>
                            <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                                wants the quiver.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-4 milestone" data-aos="flip-up" data-aos-delay="200">
                    <div class="row mx-n1">
                        <div class="col-12 col-md-5 text-center text-lg-left px-1 milestone-info-left">
                            67K
                        </div>
                        <div class="col-12 col-md-7 text-center text-md-left px-1 milestone-info-right">
                            <h5 class="m-auto m-md-0  py-3 py-md-0">Lines of CSS code wrote</h5>
                            <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                                wants the quiver.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 px-4 milestone" data-aos="flip-up" data-aos-delay="300">
                    <div class="row mx-n1">
                        <div class="col-12 col-md-5 text-center text-lg-left px-1 milestone-info-left">
                            74K
                        </div>
                        <div class="col-12 col-md-7 text-center text-md-left px-1 milestone-info-right">
                            <h5 class="m-auto m-md-0  py-3 py-md-0">Cups of coffee drinked per week</h5>
                            <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                                wants the quiver.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 px-4 milestone" data-aos="flip-up" data-aos-delay="400">
                    <div class="row mx-n1">
                        <div class="col-12 col-md-5 text-center text-lg-left px-1 milestone-info-left">
                            389K
                        </div>
                        <div class="col-12 col-md-7 text-center text-md-left px-1 milestone-info-right">
                            <h5 class="m-auto m-md-0">Happy clients served this year</h5>
                            <p class="milestone-text">There is no and no bills, a soft ball. Aeneas needs the author who
                                wants the quiver.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>