<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
    <title>Portfolio</title>
</head>

<body>
    <div id="portfolio" class="position-relative no-padding">
        <div class="page-title-holder">
            <h3 class="entry-title">
                portfolio
            </h3>
        </div>
        <div class="section-wrapper mx-auto">
            <div class="portfolio-grid">
                <div class="grid-item element-item-1 p_one_fourth" data-aos="flip-left" data-aos-delay="100">
                    <a href="" class="item-link">
                        <img src="./images/portfolio_item_01.jpg" alt="">
                    </a>
                    <div class="portfolio-text-holder">
                        <p class="portfolio-desc">INTERIOR</p>
                        <p class="portfolio-title">Living Room</p>
                    </div>
                </div>
                <div class="grid-item element-item-2 p_one_half" data-aos="flip-right" data-aos-delay="600">
                    <a href="" class="item-link">
                        <img src="./images/portfolio_item_02.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item element-item-3 p_two_fourth" data-aos="flip-up" data-aos-delay="1200">
                    <a href="" class="item-link">
                        <img src="./images/portfolio_item_03.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item element-item-4 p_two_fourth" data-aos="flip-up" data-aos-delay="1200">
                    <a href="" class="item-link">
                        <img src="./images/portfolio_item_04.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>