<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
    <title>Portfolio</title>
</head>

<body>
    <div id="portfolio" class="position-relative no-padding">
        <div class="page-title-holder">
            <h3 class="entry-title">
                portfolio
            </h3>
        </div>
        <div class="section-wrapper mx-auto">
            <div class="portfolio-grid row mx-n1">
                <div class="col-3 px-1">
                    <div class="card card-image-1">
                        <div class="img"> <span></span><span></span><span></span><span></span></div>
                        <div class="content">
                            <h2>Duy Anh Vũ</h2>
                            <h4>Đã đẹp trai còn chung tình</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="card card-image-2">
                        <div class="img"> <span></span><span></span><span></span><span></span></div>
                        <div class="content">
                            <h2>Hoang Việt Thái</h2>

                            <h4>Xấu trai hát không hay nhưng hay hát</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="card card-image-3">
                        <div class="img"> <span></span><span></span><span></span><span></span></div>
                        <div class="content">
                            <h2>Ninh Xuân Huấn</h2>
                            <h4>Tự tin quá đà, ảo tượng về bản thân</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="card card-image-4">
                        <div class="img"> <span></span><span></span><span></span><span></span></div>
                        <div class="content">
                            <h2>Tùng Suối Hai</h2>
                            <h4>Ông trùm của NHƯNG TẠI </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>