<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../scss/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Services</title>
</head>

<body>
    <div id="services" class="position-relative" data-aos="fade-up" data-aos="fade-up">
        <div class="page-title-holder">
            <h3 class="entry-title">
                services
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="row mx-n1">
                <div class="col-12 col-lg-4 text-center px-1" data-aos="fade-right">
                    <div class="service-holder">
                        <p class="services__number">
                            1
                        </p>
                        <div class="service__text mb-5">
                            <h4>Precise</h4>
                            <p>Curabitur cursus mattis ligula a maximus pellentesque in purus malesuada pharetra
                                eros.</p>
                        </div>

                        <div class="wrapper">
                            <a href="#portfolio" class="height-51 color-fff"><span>MORE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 text-center px-1" data-aos="fade-down">
                    <div class="service-holder">
                        <p class="services__number">
                            2
                        </p>
                        <div class="service__text mb-5">
                            <h4>Support</h4>
                            <p>There is a whole lot of people who have said that even the immune system is cured
                                until the ferry is cured.</p>
                        </div>

                        <div class="wrapper">
                            <a href="#new" class="height-51 color-fff"><span>MORE</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 text-center px-1" data-aos="fade-left">
                    <div class="service-holder">
                        <p class="services__number">
                            3
                        </p>
                        <div class="service__text mb-5">
                            <h4>Responsive</h4>
                            <p>Until one takes a whole or is a semblance of a complete winner, to lay down the fear
                                of the arches of life.</p>
                        </div>

                        <div class="wrapper">
                            <a href="#contact" class="height-51 color-fff"><span>MORE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>