<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../scss/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Skills</title>
</head>

<body>
    <div id="skills" class="position-relative" data-aos="fade-up">
        <div class="page-title-holder">
            <h3 class="entry-title">
                Skills
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="row mx-n4">
                <div class="col-12 col-md-6 mb-5 mb-md-0 px-4 text-center text-md-left" data-aos="fade-right"
                    data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <p class="title-description-up">
                        OUR NUMBERS
                    </p>
                    <h2 class="medium-text">Check our <br> Skills</h2>
                    <p>Skills
                        Code the energy hidden in matter citizens of distant epochs from which we spring drake equation
                        perga inconspicuous
                        motespatch clean designed code and energy matter.</p>
                    <div>
                        <a href="#" class="btn-blue mt-3">choose plan</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 px-4">
                    <div class="skill-holder" data-aos="flip-up" data-aos-delay="100">
                        <div class="skill-percent">75%</div>
                        <div class="skill-text">
                            <span>Creativity</span>
                            <div class="skill">
                                <div class="skill-fill" data-fill="75%" style="width: 75%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-holder" data-aos="flip-up" data-aos-delay="300">
                        <div class="skill-percent">45%</div>
                        <div class="skill-text">
                            <span>Cooking</span>
                            <div class="skill">
                                <div class="skill-fill" data-fill="45%" style="width: 45%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-holder" data-aos="flip-up" data-aos-delay="600">
                        <div class="skill-percent">90%</div>
                        <div class="skill-text">
                            <span>PhP</span>
                            <div class="skill">
                                <div class="skill-fill" data-fill="90%" style="width: 90%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-holder" data-aos="flip-up" data-aos-delay="900">
                        <div class="skill-percent">65%</div>
                        <div class="skill-text">
                            <span>Marketing</span>
                            <div class="skill">
                                <div class="skill-fill" data-fill="65%" style="width: 65%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-holder" data-aos="flip-up" data-aos-delay="1200">
                        <div class="skill-percent">85%</div>
                        <div class="skill-text">
                            <span>Design</span>
                            <div class="skill">
                                <div class="skill-fill" data-fill="85%" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>