<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/style.css">
    <title>Team</title>
</head>

<body>
    <div id="teams" class="position-relative">
        <div class="page-title-holder">
            <h3 class="entry-title">
                Team
            </h3>
        </div>
        <div class="section-wrapper content-1170">
            <div class="member">
                <img src="./images/avt.jpg" alt="">
                <div class="member-info">
                    <p class="member-postition">CEO</p>
                    <p class="member-name">Duy Anh Vu</p>
                    <div class="member-content">
                        <p>CEO trong tiếng anh là viết tắt của Chief Executive Officer có nghĩa là Giám đốc điều hành,
                            nhưng hiện nay ở Việt Nam,
                            Tổng giám đốc, Giám đốc điều hành, Giám đốc công ty là những từ được dùng để diễn đạt cho
                            chức danh này. Vậy để hiểu
                            theo một cách đơn giản nhất, thì CEO là người nắm chức vụ quản lý điều hành cao nhất trong
                            một doanh nghiệp. Hay nói
                            theo một cách ví von, thì CEO chính là người thuyền trưởng, bằng tất cả trí óc và sức lực
                            của mình, dẫn dắt con tàu
                            doanh nghiệp vượt qua hàng ngàn sóng gió trên thương trường để cập bến thành công. Các công
                            việc của CEO có thể chịu sử
                            quản lý trực tiếp của Hội đồng quản trị, tuy nhiên trong một số công ty thì CEO chính là Chủ
                            tịch hội đồng quản trị.
                        </p>
                        <div class="member-social-holder">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member member-right">
                <div class="member-info">
                    <p class="member-postition">DEVELOPER</p>
                    <p class="member-name">Hoang Viet Thai</p>
                    <div class="member-content">
                        <p>Developer là một trong những tên gọi của lập trình viên, hay còn được viết tắt bởi 3 chữ cái
                            đầu tiên là DEV. Họ có
                            công việc là viết code, tạo
                            ra các chương trình, phần mềm và ứng dụng dùng cho máy tính hoặc điện thoại. Developer có
                            thể sử dụng nhiều ngôn ngữ lập
                            trình khác nhau để thiết kế các chương trình và bảo trì chúng. Hiện nay, nhu cầu tuyển dụng
                            deverloper ở các doanh
                            nghiệp đang tăng cao.
                        </p>
                        <div class="member-social-holder">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="./images/thai.jpg" alt="">
            </div>
            <div class="member">
                <img src="./images/huan.jpg" alt="">
                <div class="member-info">
                    <p class="member-postition">Culi</p>
                    <p class="member-name">Ninh Xuan Huan</p>
                    <div class="member-content">
                        <p> Người lao động chân tay, có một loạt các ngụ ý khác và đôi khi được coi là xúc phạm hoặc
                            miệt
                            thị, tùy thuộc vào bối
                            cảnh lịch sử và địa lý; tại Ấn Độ, nơi bắt nguồn của nó, từ này vẫn được coi là sự khinh
                            miệt. Trong nhiều khía cạnh, nó
                            là tương tự như từ peón trong tiếng Tây Ban Nha, mặc dù cả hai thuật ngữ này được sử dụng ở
                            một số quốc gia với các ý
                            nghĩa khác nhau
                        </p>
                        <div class="member-social-holder">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member member-right">
                <div class="member-info">
                    <p class="member-postition">Dọn dẹp nhà vệ sinh</p>
                    <p class="member-name">Tung Suoi Hai</p>
                    <div class="member-content">
                        <p>Ăn ngủ trong nhà vệ sinh, Quét dọn, lau chùi bụi bẩn tại nhiều khu vực trong nhà như: Sàn
                            nhà, cầu thang, vật dụng, đồ đạc. Cọ rửa nhà vệ sinh và những khu vực theo yêu cầu. Vệ Sinh
                            Toàn Cầu dọn dẹp đúng các phòng, khu vực theo yêu cầu hợp đồng. Chúng tôi đảm bảo sắp xếp đồ
                            đạc, xử lý rác liên
                            quan theo đúng vị trí, yêu cầu của quý khách. Sau khi hoàn tất công việc, bụi bẩn, giấy rác,
                            … không còn đem lại vẻ sạch
                            đẹp, gọn gàng tươm tất cho ngôi nhà.
                        </p>
                        <div class="member-social-holder">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="./images/tung.jpg" alt="">
            </div>
            <div class="member">
                <img src="./images/tu.jpg" alt="">
                <div class="member-info">
                    <p class="member-postition">Nhận viên phục vụ</p>
                    <p class="member-name">Do Quang Tu</p>
                    <div class="member-content">
                        <p> Nhân viên phục vụ( Waiter/Waitress ) chính là một trong những người tiếp xúc với khách nhiều
                            nhất khi họ đến một nhà
                            hàng hay quán ăn. Với những người chưa biết gì về nghề này thì hiểu đơn giản nhân viên phục
                            vụ sẽ là người đợi khách
                            đến, order đồ ăn cho khách, chuyển yêu cầu của khách xuống bếp và mang đồ ăn lên cho họ. Đây
                            sẽ là những người tạo cho
                            khách cảm giác dễ chịu, thoải mái và đảm bảo trải nghiệm ăn uống của khách hàng luôn tuyệt
                            vời nhất. Với những người mới
                            bắt đầu trong lĩnh vực nhà hàng thì nhân viên phục vụ sẽ là công việc đầu tiên mà chắc chắn
                            ai cũng cần phải biết
                        </p>
                        <div class="member-social-holder">
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-vimeo"></span>
                                </a>
                            </div>
                            <div class="social">
                                <a href="#" target="_blank">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>