<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="content-1170">
            <div class="footer_logo">
                <a href="#"><img src="./images/logo.png" alt="logo"></a>
            </div>
            <div class="footer-logo-divider"></div>
            <div class="footer-mail"><a href="mailto:vungocduy1502@gmail.com">vungocduy1502@gmail.com</a></div>
            <div class="footer-social-divider"></div>
            <div>
                <div class="social">
                    <a href="https://www.facebook.com/duyvnse05526/" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>

                <div class="social">
                    <a href="https://www.instagram.com/duyy.anhvu" target="_blank">
                        <span class="fa fa-instagram"></span>
                    </a>
                </div>
                <div class="social">
                    <a href="https://vungocduy1502.github.io/duyanh/" target="_blank">
                        <span class="fa fa-dribbble"></span>
                    </a>
                </div>

            </div>
        </div>

    </footer>
</body>

</html>