<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>

    <Header>
        <div class="scroll-slow">
            <p class="m-0">DuyAnhVu | Contact work: vungocduy1502@gmail.com | SĐT: 0965323888 |
                Website: https://vungocduy1502.github.io/duyanh/ </p>

        </div>
        <div class="header_menu">
            <div class="header_logo">
                <a href="#"><img src="./images/logo.png" alt="logo"></a>
            </div>
            <div class="topnav d-flex" id="myTopnav">
                <a class="topnav_text" href="#home">Home</a>
                <a class="topnav_text" href="#services">Services</a>
                <a class="topnav_text" href="#about">About</a>
                <a class="topnav_text" href="#clients">Clients</a>
                <a class="topnav_text" href="#news">News</a>
                <a class="topnav_text" href="#portfolio">Portfolio</a>
                <a class="topnav_text" href="#pricing">Pricing</a>
                <a class="topnav_text" href="#teams">Team</a>
                <a class="topnav_text" href="#skills">Skills</a>
                <a class="topnav_text" href="#milestones">Milestones</a>
                <a class="topnav_text" href="#contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </Header>

</body>

</html>